<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">Change Password</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="changePasswordForm">
        <div fxFlex fxLayout="column">
            
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Old Password</mat-label>
                <input matInput formControlName="oldpassword" type="password" required>
                <mat-error *ngIf="changePasswordForm.controls.oldpassword.touched && changePasswordForm.controls.oldpassword.invalid">
                    <span *ngIf="changePasswordForm.controls.oldpassword.errors.required">This Field is mandatory.</span>
                    <span *ngIf="changePasswordForm.controls.oldpassword.errors.pattern">This Field is invalid</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>New Password</mat-label>
                <input matInput formControlName="newpassword" type="password" required>
                <mat-error *ngIf="changePasswordForm.controls.newpassword.touched && changePasswordForm.controls.newpassword.invalid">
                    <span *ngIf="changePasswordForm.controls.newpassword.errors.required">This Field is mandatory.</span>
                    <span *ngIf="changePasswordForm.controls.newpassword.errors.pattern">This Field is invalid</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName="confirmpassword" type="password" required>
                <mat-error *ngIf="changePasswordForm.controls.confirmpassword.touched && changePasswordForm.controls.confirmpassword.invalid">
                    <span *ngIf="changePasswordForm.controls.confirmpassword.errors.required">This Field is mandatory.</span>
                    <span *ngIf="changePasswordForm.controls.confirmpassword.errors.pattern">This Field is invalid</span>
                </mat-error>
                <mat-hint *ngIf="validateSubmit() && !(changePasswordForm.controls.confirmpassword.invalid)">
                    <span>New Password & Confirm Password Does not Match.</span>
                </mat-hint>
            </mat-form-field>
        </div>

    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" (click)=" handleChangePasswordSubmit()" [disabled]="validateSubmit() || !(changePasswordForm.valid && changePasswordForm.dirty)">Update</button>
    <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>