<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">Forgot Password</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="forogotPasswordForm">
        <div fxFlex fxLayout="column">
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required>
                <mat-error *ngIf="forogotPasswordForm.controls.email.touched && forogotPasswordForm.controls.email.invalid">
                    <span *ngIf="forogotPasswordForm.controls.email.errors.required">This Field is mandatory.</span>
                    <span *ngIf="forogotPasswordForm.controls.email.errors.pattern">This Field is invalid</span>
                </mat-error>
            </mat-form-field>
        </div>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" (click)=" handleSubmit()" [disabled]="!(forogotPasswordForm.valid && forogotPasswordForm.dirty)">Sign Up</button>
    <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>